@model IEnumerable<AppEstado.Models.Estado>

@{
     ViewBag.Title = " Lista de Estados";
}

<div class="jumbotron">
     <h1 class="text-center"> Estados </h1>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMinimo)
        </th>
        <th></th>
    </tr>

@foreach (var estado in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => estado.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => estado.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => estado.UF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => estado.ValorMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => estado.ValorMinimo)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=estado.ID }) |
        </td>
    </tr>
}

</table>
